version: "3.8"

services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev123
      POSTGRES_DB: mittproject
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
